.btn-add {
    padding: 10px;
    margin: 10px;
    background-color: #92c8ea;
    border-radius: 10px;
    color: #f7efef;
    font-weight: 700;
    transition: background-color 0.35s;
}

.btn-add:hover {
    background-color: #669fc3;
}